<div class="row">
    <div class="col-8">
        <h4 id="scrollCourseDescriptionSpy">
            Course Description
        </h4>
        <p>
            Databases are used to store corporate, government and private information. Securing this information
            involved following industry best practices and processes as well as writing secure code to interface with
            the database.
        </p>
        <p>
            This course investigates the critical components of Oracle databases related to security, user privileges,
            roles and authentication. Database audit policies will also be reviewed, developed and tested.
        </p>
        <h4 id="scrollCourseIntroductionSpy">
            Course Introduction
        </h4>
        <p>After completing this course, you should be able to:</p>
        <ul>
            <li>compare and contrast database security architectures to secure and lockdown a database environment</li>
            <li>use available authentication and authorization controls to implement and manage a secure database</li>
            <li>design, develop, test, and document secure database applications to meet user requirements</li>
        </ul>
        <h4 id="scrollClassGuidelinesSpy">
            Class Guidelines
        </h4>
        <h6>Faculty Information</h6>

        <p>To locate information within your LEO classroom, log in and review your faculty member’s information, which
            is found in the Start Here section of your classroom after clicking on the Content link.</p>

        <h6>Contacting your Faculty Member</h6>

        <p>You can use the Pager feature within the classroom to send a message to your faculty member.</p>

        <p>Click the Classroom Walkthrough Videos link below, and then click The Pager link, to view a how-to video on
            how
            to use the Pager function within the classroom: </p>

        <p>Within the Content section of your classroom, view the Start Here section or Additional Course Information
            section within the Syllabus to learn more about contacting your faculty member.</p>

        <h6>Contacting Advising or your Department</h6>

        <p>If you have questions related to the course content or any of the graded deliverables, please contact your
            instructor.</p>

        <p>For questions and concerns related to advising, you can call 800-888-8682 (toll-free), or, write to
            undergrad.advisor@umgc.edu (if you are an undergraduate student), or grad.advisor@umgc.edu (if you are a
            graduate student).</p>

        <p>For other questions and concerns about this class, you can contact your program director by writing to
            cybersecuritydept@umgc.edu . Please be sure to mention the course name, course number, and your section
            number in the "Subject:" field of your email. Your email will be treated confidentially.</p>

        <h4 id="scrollProjectDescriptionSpy">Project Description</h4>
        <p>
            Descriptions and details for all homework and projects are listed in the assignments area found in the
            Navigation bar under assignments and in the content area.
        </p>
    </div>
    <div class="col-4">
        <nav id="TableOfContents">
            <ul>
                <li>
                    <a href="#scrollCourseDescriptionSpy">Course Description</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#scrollCourseIntroductionSpy">Course Introduction</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#scrollClassGuidelinesSpy">Class Guidelines</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#scrollProjectDescriptionSpy">Project Description</a>
                </li>
            </ul>
        </nav>
    </div>
</div>